.historyOrder {
    width: 220px; /* רוחב קבוע */
    height: 600px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;

}

.historyOrder h2 {
    color: purple;
    text-decoration-line: underline;
    text-underline-position: under;
}
